version: '3.8'

services:
  dynamic-album-player:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    restart: unless-stopped
    container_name: dynamic-album-player

